Auction.Presentation/Service References/RemoteStorage/Storage1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/UserService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2247/UserService/Storage.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:2247/UserService/Storage.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:JsonModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Picture" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RegistrationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="TimezoneId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="JsonModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="UpdateOn" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonModel" nillable="true" type="tns:JsonModel" />
  <xs:complexType name="Permission">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:JsonModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuctionId" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CategoriesId" nillable="true" type="q1:ArrayOfguid" />
          <xs:element minOccurs="0" name="Role" type="xs:int" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Permission" nillable="true" type="tns:Permission" />
  <xs:complexType name="ArrayOfJsonModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonModel" nillable="true" type="tns:JsonModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonModel" nillable="true" type="tns:ArrayOfJsonModel" />
</xs:schema>