Auction.Presentation/Service References/RemoteStorage/Storage2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Storage">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Storage" nillable="true" type="tns:Storage" />
</xs:schema>