Auction.Presentation/Service References/RemoteStorage/Storage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2247/UserService/Storage.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UserService" />
  <xs:import schemaLocation="http://localhost:2247/UserService/Storage.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:2247/UserService/Storage.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/UserService.Model" />
  <xs:element name="CreateJson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJsonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UserService" minOccurs="0" name="CreateJsonResult" nillable="true" type="q1:Storage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UserService" minOccurs="0" name="storage" nillable="true" type="q2:Storage" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UserService.Model" minOccurs="0" name="GetByIdResult" nillable="true" type="q4:JsonModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UserService" minOccurs="0" name="storage" nillable="true" type="q5:Storage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UserService.Model" minOccurs="0" name="QueryResult" nillable="true" type="q6:ArrayOfJsonModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UserService" minOccurs="0" name="storage" nillable="true" type="q7:Storage" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UserService.Model" minOccurs="0" name="item" nillable="true" type="q8:JsonModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UserService" minOccurs="0" name="storage" nillable="true" type="q9:Storage" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UserService.Model" minOccurs="0" name="item" nillable="true" type="q10:JsonModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UserService" minOccurs="0" name="storage" nillable="true" type="q11:Storage" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>